body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 240, 228);
}

/* Main Container */
.mainCont {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 500px;
  margin: auto;
}

/* Header Section */
.hearder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 40px;
  padding: 12px 20px;
  background-color: rgb(255, 66, 66);
  border-radius: 10px;
  color: white;
  font-family: sans-serif;
}

.hearder .logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.textInfo {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: baseline;
  gap: 5px;
  font-size: 13px;
}

.textInfo span {
  font-size: 22px;
  font-weight: bold;
}

/* Horizontal Line */
.hline {
  width: 95%;
  height: 1px;
  margin: 20px auto;
  background-color: gray;
  opacity: 0.2;
}

/* Chart Section */
.chartCont {
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  font-family: sans-serif;
}

.chartCont .chartHeader {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.chart {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  width: 100%;
}

.barCont {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: fit-content;
}

.barName {
  font-size: 12px;
  opacity: 0.6;
}

.bar {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 10px;
}

.barLine {
  background-color: rgb(255, 142, 13);
  min-width: 100%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
  color: white;
}

.bar:hover {
  .hide {
    display: block;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    background-color: black;
  }
  
  .barLine{
    background-color: rgb(243, 63, 63);
  }
}

/* Report Section */
.reportCont {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.totalExpense {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.totalExpense .txLabel {
  margin: 0;
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 0.6;
}

.totalExpense .amount {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.expenseInsight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.expenseInsight p {
  margin: 0;
  font-size: 10px;
  letter-spacing: 1px;
  opacity: 0.6;
}

.expenseInsight .changesAmount {
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
}

/* Mobile Design */
@media only screen and (max-width: 600px) {
  .mainCont {
    min-width: 80dvw;
    margin: auto;
  }

  .hide{
    font-size: 8px !important;
    padding: 1px;
  }
}
